body{
    max-width: 800px;
    margin: 0px auto;
    box-sizing: border-box;
    border: 2px dotted rgb(0, 0, 0);
    text-align: center;
}
button{
    padding: 2% 4%;
    margin: 0px auto;
    align-items: center;
}
img{
    display: block;
    text-align: center;
    margin: 0px auto;
}
p{
    margin: 0px 5%;
}
h1{
    background-color: lightgray;
    padding: 2% 0px;
}