body {
    max-width: 800px;
    margin: 0px auto;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

select {
    margin-top: 5%;
    width: 100%;
    padding: 1% 2%;
}



button {
    text-align: left;
    padding: 2% 4%;
    background-color: blue;
    color: white;
    border-color: white;
    border-radius: 10px;
    margin: 3% 600px 3% 10px;
}

table {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: left;
    padding: auto;
    border: 1px solid lightgray;

}

td {
    height: 50px;
    border-bottom: 1px solid rgb(223, 222, 222);
    padding-left: 10px;

}

th {
    height: 50px;
    padding-left: 10px;
    /* border-bottom: 1px solid 
    .black; */
}
