.main{
    margin: 0px auto;
    max-width: 1400px;
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .textSection p{
  color: black;
 }
 p{
  color: red;
 }
.formSection {
    margin-top: 50px ;
    max-width: 500px;
    margin: auto;
  }
  .formSection .textSection{ 
  text-align: center;
}
.formSection form{
  max-width: 500px;
  margin: auto;
}

.formSection input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  
.formSection input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  .formSection input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    .formSection select{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
    .formSection input[type=date]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
      .formSection input[type=checkbox]{
        margin: 10px 10px;
        display: inline-block;
        box-sizing: border-box;
        }
.formSection input[type=submit]{
background-color: rgb(23, 39, 0);
padding: 10px 40px;
color: white;
border-radius: 5px;
display: block;
}
.formSection label{
  font-size: 20px;
  text-align: left;
}
.formSection textarea{
  font-size: 20px;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
